.theme-dark{
    --lineage-accent: #55b1ae;
    --background-container: #363c4c;
    --background-active-node: var(--color-base-00);
    --background-active-parent: #4f5566;
    --background-inactive-node: #2b2f3a;
}
.theme-light{
    --lineage-accent: #55b1ae;
    --background-container: #899cb3;
    --background-active-node: var(--color-base-00);
    --background-active-parent: #cedbeb;
    --background-inactive-node: #a1b0c5;
}

.active-node,
.active-child{
    background-color: var(--background-active-node);
    color: var(--text-normal);
}

.active-node {
    border-left: 5px var(--lineage-accent) solid;
}
.active-child:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.active-parent {
    background-color: var(--background-active-parent);
    filter: opacity(0.8);
}
.active-sibling {
    background-color: var(--background-active-parent);
    filter: opacity(0.8);
}
.inactive-node {
    opacity: 0.2;
    background-color: var(--background-inactive-node);
}
.group {
    background-color: var(--background-inactive-node);
}

.group-has-active-node {
    background-color: var(--background-active-parent);
}
.group-has-active-parent {
    background-color: var(--background-active-node);
}



